.list {
  margin-top: 16px;
  margin-left: 20px;
}
.listItem {
  margin-top: 16px;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.labelSign {
  background-color: lightblue;
}

.ListLabel::after {
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
  content: ':';
}
