.log-diff-item-label::after {
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
  content: ':';
}

.log-diff-space-divide {
  padding-bottom: 16px;
  word-break: break-all;
}

.log-diff-pass {
  text-decoration: line-through;
  background-color: pink;
}

.log-diff-now {
  background-color: greenyellow;
}

.log-diff-label-sign {
  background-color: lightblue;
}

.log-diff-space:not(:last-child) {
  margin-right: 8px;
}
